# --- Environnement Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv

# --- Données (Le plus important) ---
# On ignore les images brutes et traitées car elles sont trop lourdes
data/raw/
data/processed/

# Si tu veux quand même garder la structure du dossier data sans les fichiers
# Tu peux ajouter des fichiers .gitkeep dans les sous-dossiers et commenter les lignes ci-dessus

# --- Modèles entraînés ---
# Les fichiers .h5 ou .tflite peuvent peser plusieurs dizaines/centaines de Mo
models/*.h5
models/*.tflite
# On garde cependant le fichier de configuration des classes
!models/classes.json

# --- Playwright & Scraping ---
.auth/
browser_data/
*.log

# --- Système & IDE ---
.DS_Store
.vscode/
.idea/